## Model Using DecisionTreeClassifier

### Concatenated all the dataframes from 2011 to 2020 and selected the similar columns then used Decision TreeClassifier to predict the salaries (The salaries was binned into categories)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython import display
import helper as h
import seaborn as sns
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn import preprocessing
%matplotlib inline
df = pd.read_csv('final_df.csv')
pd.set_option('display.max_columns', 500)
df.head()

C:\ProgramData\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Country,Age,ExperienceYears,Industry,CompanySize,Occupation,OperatingSystem,JobSatisfaction,Salary,Year,EmploymentStatus,Gender,Remote
0,Africa,< 20,<2,Consulting,10 to 19 employees,Web Application Developer,Linux,Very dissatisfied,Student / Unemployed,2011,NaN,NaN,NaN
1,Other Europe,25-29,2 - 5 years,Software Products,20 to 99 employees,Server Programmer,Windows 7,Very satisfied,NaN,2011,NaN,NaN,NaN
2,India,25-29,6 - 10 years,Software Products,500 to 999 employees,Server Programmer,Linux,NaN,NaN,2011,NaN,NaN,NaN
3,Germany,< 20,2 - 5 years,Foundation / Non-Profit,Student,Student,Linux,Slightly satisfied,Student / Unemployed,2011,NaN,NaN,NaN
4,Other Asia,35-39,11+ years,Software Products,10 to 19 employees,"Executive (VP of Eng, CTO, CIO, etc.)",Linux,Neither satisfied nor dissatisfied,"$80,000 - $100,000",2011,NaN,NaN,NaN

In [2]:
df.shape

(412148, 13)

In [3]:
pd.options.display.max_colwidth = 200
pd.options.display.expand_frame_repr = 200

In [4]:
df['Age'][df['Age'].isin(['Under 18 years old'])] = '< 20'
df['Age'][df['Age'].isin(['18 - 24 years old'])] = '20-24'
df['Age'][df['Age'].isin(['35-39'])] = '34-39'
df['Age'][df['Age'].isin(['40-49'])] = '40-50'
df['Age'][df['Age'].isin(['50-59'])] = '51-60'
df['Age'][df['Age'].isin(['65 years or older', '>60'])] = '> 60'

<ipython-input-4-a1d910bacc55>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'].isin(['Under 18 years old'])] = '< 20'
<ipython-input-4-a1d910bacc55>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'].isin(['18 - 24 years old'])] = '20-24'
<ipython-input-4-a1d910bacc55>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'].isin(['35-39'])] = '34-39'
<ipython-input-4-a1d910bacc55>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'].isin(['40-49'])] = '40-50'
<ipython-input-4-a1d910bacc55>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'].isin(['50-59'])] = '51-60'
<ipython-input-4-a1d910bacc55>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'][df['Age'].isin(['65 years or older', '>60'])] = '> 60'

In [5]:
df = df.dropna(subset=['Salary'], axis=0)
X = df.drop(['Salary', 'Occupation'], axis=1)
y = df['Salary']

In [18]:
cat_vars= X.select_dtypes(include=['object']).copy().columns
for var in cat_vars:
    # for each cat add dummy var, drop original column
    X = pd.concat([X.drop(var, axis=1), pd.get_dummies(X[var], prefix=var, prefix_sep='_', drop_first=True)], axis=1)

In [19]:
X.shape

(188675, 350)

In [22]:
#split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=5)

dtree_model = DecisionTreeClassifier(max_depth = 100).fit(X_train, y_train)
dtree_model.score(X_test, y_test)

0.3467603021067974

The model is not performing very well as fewer columns was matched from several dataframes